{% extends 'base.html' %}
{% block body %}
    <main class="cards">
        <section class="card contact">
            <div class="icon">
                <img src="static/home/gato.adotar.jpg" alt="Clique Aqui">
            </div>
            <h2>O Miau encontrou um lar ❤</h2>
        </section>
        <section class="card contact">
            <div class="icon">
                <img src="static/home/cachorro.preto.jpg" alt="Clique Aqui">
            </div>
            <h2>O Frederico encontrou um lar ❤</h2>
        </section>
        <section class="card contact">
            <div class="icon">
                <img src="static/home/gato.adotar.jpg" alt="Clique Aqui">
            </div>
            <h2>O Luke encontrou um lar ❤</h2>
        </section>
    </main>
{% endblock %}