{% extends 'base.html' %}
{% block body %}

{% endblock {% extends 'base.html' %}
{% block body %}
    <main class="cards">
        <section class="card contact">
            <div class="icon">
                <img src="static/home/gato.adotar.jpg" alt="Clique Aqui">
            </div>
            <h2>O Miau se perdeu💔</h2>
        </section>
        <section class="card contact">
            <div class="icon">
                <img src="static/home/cachorro.preto.jpg" alt="Clique Aqui">
            </div>
            <h2>O Frederico se perdeu💔</h2>
            <span>Visto por último no bairro Campo Limpo próximo ao Senai</span>
        </section>
        <section class="card contact">
            <div class="icon">
                <img src="static/home/gato.adotar.jpg" alt="Clique Aqui">
            </div>
            <h2>O Luke se perdeu💔</h2>
            <span>Veja os animais que estão felizes com um novo lar 😍</span>
        </section>
    </main>
{% endblock %}